 body {
        margin: 0;
        font-family: cursive;
    }

    h1 {
        text-align: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .color-container {
        background-color: orange;
        width: 300px;
        height: 150px;
        color: white;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        border: 2px solid black;
        border-radius: 10px;
    }

    .copyBtn {
        color: black;
        border: none;
        background: none;
        cursor: pointer;
        transition: 0.3s;
        margin: 5px 10px;
        font-size: 1rem;
        transition: transform .5s ease;
    }

    .copyBtn.rotating {
        transform: rotate(360deg);
    }
